body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to right,red,yellow);
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 5px 10px rgba(0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}
h3{
    font-size: 30px;
}
input{
    height: 25px;
    font-size: 20px;
    box-sizing: 20px;

}
button{
    font-size: 20px;
    background: linear-gradient(to top,red,blue);
    color: white;
}
p{
    font-size: 20px;
}